.myOverLay {
  letter-spacing: 0.2rem;
}

.afterClick {
  position: absolute;
  background-color: rgb(253, 213, 137);
  padding: 2px 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 10px;
  width: 15rem;
  text-align: left;
  letter-spacing: 0.2rem;
}
